<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">

    <h1>등록 가게 열람</h1>
    
    <table border="1">
        <tr>
            <th scope="col">dyningname</th>
            <th scope="col">businesshours</th>
            <th scope="col">location</th>
            <th scope="col">comment</th>
            <th scope="col">hashtag</th>
            <th scope="col">tel</th>
            <th scope="col">menu</th>
            <th scope="col">background</th>
            <th scope="col">emojicwt</th>
    
    
        </tr>
        <tr th:each="dto : ${result}" >
            <td >[[${dto.dyningname}]]</td>
            <td >[[${dto.businesshours}]]</td>
            <td >[[${dto.location}]]</td>
            <td >[[${dto.comment}]]</td>
            <td >[[${dto.hashtag}]]</td>
            <td >[[${dto.tel}]]</td>

            <td>
                   <th:block th:each="idto : ${imageresult}">[[${idto.menuimagepath}]],</th:block> 
            </td>
            <td>
                <th:block th:each="idto : ${imageresult}">[[${idto.backgroundpath}]],</th:block> 
             </td>
             <td >[[${dto.emojicwt}]]</td>

        </tr>
    </table>
   


        <table border="1">
            <tr >
                <th>이모지 갯수</th>
                <th scope="col" colspan="5">이모지 타입</th>
                <!--/* <th th:colspan="${result.emojicwt}">이모지 삭제</th> */-->
            </tr>
            <tr readonly>
                <td>[[${result.emojicwt}]]</td>
                <td><button class="up" value="1" name="emojitype" type="button">😋[[${emojitype1}]]</button></td>
                <td><button class="up" value="2" name="emojitype" type="button">🥰[[${emojitype2}]]</button></td>
                <td><button class="up" value="3" name="emojitype" type="button">😭[[${emojitype3}]]</button></td>
                <td><button class="up" value="4" name="emojitype" type="button">😅[[${emojitype4}]]</button></td>
                <td><button class="up" value="5" name="emojitype" type="button">🥵[[${emojitype5}]]</button></td>  
                <!--/* <td th:each="dto : ${emojilist}"><button type="button" th:value="${dto.eno}" class="emojiRemoveBtn">삭제</button></td> */-->
            </tr>
        </table>
        <form action="" id="frm">
            <input type="hidden" name="id" th:value="${result.id}" >
            <input type="hidden" name="dno" th:value="${result.dno}">
        </form>
        <button type="button" id="modifyBtn">수정</button>
        <button type="button" id="removeBtn">삭제</button>
        <a th:href="@{/manage/dyning/list(id=${result.id})}"><button type="button">목록</button></a>

        
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script th:inline="javascript">

                 $(document).ready(function (e) {
                    /*[+
          var urlRemove = [[@{/manage/dyning/remove}]];
          var urlModify = [[@{/manage/dyning/modify}]];
        +]*/
                    $("#removeBtn").on("click", function(e){
                        if(confirm("삭제하시겠습니까?")){
                            $("#frm").attr("action",urlRemove);
                            $("#frm").attr("method","post");
                            $("#frm").submit();
                        }else{return}
                    });
                    $("#modifyBtn").on("click", function(e){
                            $("#frm").attr("action",urlModify);
                            $("#frm").attr("method","get");
                            $("#frm").submit();
                    });
                 });

                 
    </script>
</html>