<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<style>
    .containerBox {
        width: 100%;

    }

    .mapViewBtn {
        background-color: #DBE9B7;
        border-radius: 30px;
        border: none;
        font-size: 17px;
        width: 79px;
        color: black;
        height: 25px;
    }

    .menu-card{
        width: 350px;
        
    }

    #followBtn{
        padding-right: 50px;
        cursor: default;
    }
    .up{
        margin-right: 10px;
        cursor: default;
    }

    .up>img {
        margin-right: 10px;
        width: 24px;
    }

    .emojiItems{
        display: inline-block;
    }

    #map {
        width: 700px;
        height: 480px;
        background-color: grey;
        overflow: hidden;
        max-width: -webkit-fill-available;
    }
    
    .followEmojiBox {
        /* background-color: #e9ecef; */
        background-color: #f5f4f4;
        height: 48px;
        padding: 9px;
        border-radius: 31px;
        margin: 23px auto 30px auto;
}

    .my.btn   {
        background-color: #f5f4f4;
        font-family: 'GmarketSansLight';
        width: 100px;

    }
    .my.btn:hover {
        background-color: #DBE9B7;
    }
    .BtnItems {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .all-card{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 93px 0;
    }

    .menu-card > button{
        color: black !important ;
    }

    .card-text{
        word-break: keep-all;
    }

    .info.card{
        width: 670px;
        height: 540px;
        

    }
    .store-info-card  .card-title {
        padding: 15px !important;
    }

    .store-info-card .card-text{
        padding: 30px 0;
    }
</style>

<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
    <th:block th:fragment="content">
        <div class="containerBox">
            <input type="hidden" name="" id="detaillocation" th:value="${result.location}">
            <div style="display:none;">
                <th:block th:each="idto : ${imageresult}">
                    <img th:src="|@{'/display'}?fileName=${idto.getMenuThumbnailImageURL()}|" class="thumbimage"
                        th:data-file="|@{'/display'}?fileName=${idto.getMenuImageURL()}|" alt="">
                </th:block>
                <th:block th:each="idto : ${imageresult}">
                    <img th:src="|@{'/display'}?fileName=${idto.getBackgoundThumbnailImageURL()}|" class="thumbimage"
                        th:data-file="|@{'/display'}?fileName=${idto.getBackgoundImageURL()}|" id="backImg" alt="">
                </th:block>
            </div>
            <div class="all-card">
                <!-- 메뉴 카드 -->
                <div class="menu-card">
                <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-dark">
                    <div class="carousel-inner">
                        <th:block th:each="idto : ${imageresult}">
                            <div class="carousel-item">
                                <img th:src="|@{'/display'}?fileName=${idto.getMenuImageURL()}|" class="d-block w-100 thumbimage" 
                                th:data-file="|@{'/display'}?fileName=${idto.getMenuImageURL()}|" alt="사진이 엄따">
                            </div>
                        </th:block>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>

                <!-- 메뉴 카드 end -->
                <!-- 가게정보 카드 -->
                <div class="store-info-card">
                    <div class="card text-center info">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item" id="dyningInfo">
                                    <a id="detail-tab" class="nav-link active" data-bs-toggle="tab" aria-current="true"href="#info">가게정보</a>
                                </li>
                                <li class="nav-item" id="mapNav">
                                    <a id="map-tab" class="nav-link" data-bs-toggle="tab" href="#mapView">지도</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info">
                                <div class="card-body">
                                    <th:block th:each="dto : ${result}">
                                        <input type="hidden" name="" id="dyningname" th:value="${dto.dyningname}">
                                        <h4 class="card-title" style="font-family: 'GmarketSansMedium';">[[${dto.dyningname}]]</h4>
                                        <div class="followEmojiBox">
                                            <span id="followBtn" type="button" th:value="${fno}">
                                                <i class="bi bi-plus-circle-fill"></i>&nbsp&nbsp팔로우 <b>[[${result.followercwt}]]</b>
                                            </span>
                                            <div class="emojiItems">
                                            <span class="up" id="emojiBtn1" value="1" name="emojitype">
                                                <img id="emojiimg1" th:src="${result.emojiinfo['1']}" alt="" >[[${emojitype1}]]
                                            </span>
                                            <span class="up" id="emojiBtn2" value="2" name="emojitype" >
                                                <img id="emojiimg2" th:src="${result.emojiinfo['2']}" alt="" >[[${emojitype2}]]
                                            </span>
                                            <span class="up" id="emojiBtn3" value="3" name="emojitype" >
                                                <img id="emojiimg3" th:src="${result.emojiinfo['3']}" alt="" >[[${emojitype3}]]
                                            </span>
                                            <span class="up" id="emojiBtn4" value="4" name="emojitype" >
                                                <img id="emojiimg4" th:src="${result.emojiinfo['4']}" alt="" > [[${emojitype4}]]
                                            </span>
                                            <span class="up" id="emojiBtn5" value="5" name="emojitype" >
                                                <img id="emojiimg5" th:src="${result.emojiinfo['5']}" alt="" >[[${emojitype5}]]
                                            </span>
                                            </div>
                                        </div>
                                        <hr>
                                        <span class="card-text"><i class="fa-solid fa-location-dot"></i> [[${dto.location}]], [[${dto.locationdetails}]] </span>
                                        <button type="button" class="mapViewBtn">지도보기</button>

                                        <hr>
                                        <span class="card-text"><i class="fa-regular fa-clock"></i>
                                            [[${dto.businesshours}]]</span> &nbsp &nbsp &nbsp &nbsp
                                        <span class="card-text"><i class="fa-solid fa-phone"></i> [[${dto.tel}]]</span>
                                        <hr>
                                        <span class="card-text"><i class="bi bi-bookmark-heart-fill"></i>
                                            [[${dto.comment}]]</span>
                                        <hr>
                                        <span class="card-text">[[${dto.hashtag}]] </span>
                                        <!-- <span>이모지갯수 : [[${result.emojicwt}]] </span> -->
                                    </th:block>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="mapView">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 가게정보 카드 end -->
            <form action="" id="frm">
                <input type="hidden" name="id" th:value="${result.id}">
                <input type="hidden" name="dno" th:value="${result.dno}">
            </form>

            <div class="BtnItems">
            <button class="btn my" type="button" id="modifyBtn">수정</button>
            <button class="btn my" type="button" id="removeBtn">삭제</button>
            <a class="btn my" th:href="@{/manage/dyning/list(id=${result.id})}" role="button">목록</a>
            </div>
            <!-- 지도 API 버튼 -->

            </body>
            <script src="http://code.jquery.com/jquery-latest.min.js"></script>

            <!-- 지도 -->
            <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=acf4120589cf996321f7660949777c8c&libraries=services"></script>
            <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=acf4120589cf996321f7660949777c8c"></script>
            <script type="text/javascript">
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };

                // 지도를 생성합니다    
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 주소-좌표 변환 객체를 생성합니다
                var geocoder = new kakao.maps.services.Geocoder();

                var detaillocation = $('#detaillocation').val();

                var testbtn = document.querySelector('#btnlocation');

                $('#btnlocation').on('click', function () {
                    console.log(detaillocation);
                });


                // 주소로 좌표를 검색합니다
                geocoder.addressSearch(detaillocation, function (result, status) {

                    // 정상적으로 검색이 완료됐으면 
                    if (status === kakao.maps.services.Status.OK) {
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                    }
                });    
            </script>
            <!-- map 제어 -->
            <script>
                $(document).ready(function () {
                    // 지도 클릭시 지도 show
                    $('#mapNav').click(function () {
                        // display: none -> block으로 변경시 지도가 깨지는 현상이 생김
                        $('#mapView').show();
                        // 중심의 좌표 가져오기
                        var coords = map.getCenter();
                        // 맵의 레이아웃 재조정                 
                        map.relayout();
                        // 센터 재조정                
                        map.setCenter(coords);
                    });

                    // 가게 정보 클릭시 지도 hide
                    $('#dyningInfo').click(function () {
                        $('#mapView').hide();
                    });

                    $(".mapViewBtn").click(function () {
                        $("#mapview").show();
                    });

                    // class = active show
                    $('.mapViewBtn').click(function () {     
                        $('#info').removeClass("active");
                        $('#info').removeClass("show");
                   
                        $('#mapView').addClass("active");
                        $('#mapView').addClass("show");

                        $("#map-tab").click();
                        $("#map-tab").addClass("active");
                        $("#detail-tab").removeClass("active");
                    });
                });
            </script>
        </div>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script th:inline="javascript">
            $(document).ready(function (e) {

                //배경화면 설정
                var backgroundImg = $("#backImg").data("file");
                $(".d-flex").css("background-image", "url(" + backgroundImg + ")");

                //메뉴카드 슬라이드 
                $(".carousel-item").eq(1).addClass("active");
                

                /*[+
                    var urlRemove = [[@{/manage/dyning/remove}]];
                    var urlModify = [[@{/manage/dyning/modify}]];
                +]*/

                $("#removeBtn").on("click", function (e) {

                    swal({
                        title: "삭제하시겠습니까?",
                        text: "OK를 누르시면 데이터는 되돌릴 수 없습니다!!!!!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                swal("삭제 되었습니다!", {
                                    icon: "success",
                                });
                                $("#frm").attr("action", urlRemove);
                                $("#frm").attr("method", "post");
                                $("#frm").submit();
                            } else {
                                swal("삭제가 취소되었습니다!");
                            }
                        });

                });

                $("#modifyBtn").on("click", function (e) {
                    $("#frm").attr("action", urlModify);
                    $("#frm").attr("method", "get");
                    $("#frm").submit();
                });

                $(".thumbimage").on("click", function (e) {
                    var filename = $(this).data('file');
                    console.log(filename);
                    var OriginMenu = `<img style="width:100%" src="${filename}">`;
                    $(".modal-body").html(OriginMenu);
                    $("#imageModal").show();
                });

                $("button[name='btn-close']").on("click", function (e) {
                    $("#imageModal").hide();
                });
            });
        </script>

        <div id="imageModal" class="modal imageModal" tabindex="-2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Picture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            name="btn-close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary pictureClose" name="btn-close"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
