<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
   <th:block th:fragment="content">
      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

      <style>
         input[name="emojitype"] {
            opacity: 0;
         }

         input[name="emojitype"]+label {
            padding: 20px 10px;
         }

         input[name="emojitype"]:checked+label+span {
            color: red;

         }

         html,
         body {
            position: relative;
            height: 100%;
         }

         body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
         }

         .swiper {
            width: 95%;
            margin-top: 10px;
            margin-bottom: 120px;
         }

         .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 350px;
         }

         .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }

         .serach-form-container {
            display: grid;
            grid-template-columns: 0.5fr 1fr 0.3fr 0.5fr;
            column-gap: 0.5%;
         }

         .md-conteainer {
            display: grid;
            grid-template-columns: 0.02fr 10fr 0.02fr;
         }

         .result-container {
            display: grid;
            /* 최소 100px 확보 후 늘어나면 자동 */
            /* grid-template-columns: repeat(auto-fit, minmax(300px, auto)); */
            grid-template-columns: repeat(auto-fit, minmax(150px, auto));
            grid-template-rows: repeat(1, minmax(300px, auto));
            row-gap: 1%;
            /* items 세로 정렬 */
            align-items: center;
            /* items 가로 정렬 */
            justify-items: center;
            /* 두개를 동시에 사용 가능 place-items: center start; */
         }

         .md-conteainer img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
         }

         .md-btn-container {
            width: 20px;
            height: 100%;
         }

         .md-item-btn {
            width: 0;
            z-index: 3;
            display: inline-block;
            vertical-align: middle;
            transform: scale(2);
         }

         .helper {
            width: 0;
            display: inline-block;
            vertical-align: middle;
            height: inherit;
         }

         #curatorBtn {
            z-index: 3;
            position: absolute;
            top: 0;
            /* 사진 여백때문에  */
            left: -280px;
            transform: scaleX(-1);
            width: 50%;
         }
      </style>

      <h1>그림전</h1>
      <div class="swiper mySwiper">
         <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="dto : ${galleryDTOList}" th:data-gno="${dto.gno}"
               th:data-file="${dto.getImageURL}" data-bs-toggle="modal" data-bs-target="#detailsModal">
               <img style="cursor:pointer;" th:src="|@{'/display'}?fileName=${dto.getImageURL()}|"
                  alt="이미지를 불러올 수 없습니다" />
               [[${dto.title}]]
            </div>
            <div style="border: solid 1px black;">
               여기가 마지막 입니다.
            </div>
         </div>
         <div class="swiper-pagination"></div>
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
      </div>
      <!-- <button type="button" id="curatorBtn" data-bs-toggle="modal" data-bs-target="#curatorModal">
         <img   th:src="@{/icon/gurator.png}" >
      </button> -->

      <img id="curatorBtn" data-bs-toggle="modal" data-bs-target="#curatorModal" th:src="@{/icon/gurator.png}">



      <!-- Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
         var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: false,
            centeredSlides: true,
            slidesPerView: "2",
            coverflowEffect: {
               rotate: 0,
               stretch: -0,
               depth: 200,
               modifier: 1,
               slideShadows: true,
            },
            mousewheel: true,
            // pagination: {
            // 	el: ".swiper-pagination",
            // 	clickable: true,
            // },
            navigation: {
               nextEl: ".swiper-button-next",
               prevEl: ".swiper-button-prev",
            }
         });
      </script>

      <script th:inline="javascript">
         $(document).ready(function () {

            /*[+
               var readUrl = [[@{/gallery/read}]];
               var emojiUrl = [[@{/gallery/emoji}]];
               var emojiaddUrl = [[@{/gallery/emoji/register}]];
               var urlDisplay = [[@{/display}]];
            +]*/

            var EmojiStringArray = "";

            var uploadResult = $(".uploadResult");
            var detailsModalbody = $(".details-modal-body");
            var detailsModalbodyEmoji = $(".detail-modal-body2");
            var showdetailsModal = function (targetGno, targetFile) {
               $.getJSON(readUrl + "/" + targetGno, function (dto) {
                  // console.log("getList..........dto " + JSON.stringify(dto));
                  var str = "";
                  str = `
							<input type="hidden" name = "gno" value="${targetGno}" class="inputGno" data-gno="${targetGno}">
							<input type="hidden" name = "id" value="user1@icloud.com" class="inputId" data-id="${dto.id}">

							<img style='width:100%' src="${urlDisplay}?fileName=${targetFile}">

							<div class=row>
								<div class="col-md-7"><h2>${dto.title}</h2></div>
								<div class="col-md-4"><h4>${dto.id}</h4></div>
							</div>`
                  detailsModalbody.html(str);

                  str = `<div id="emojiBox">
                        <input type="text" name="id" value="${dto.id}">
                        <br/>
                        <input type="radio" id="1" value="${dto.emojicount[0][0]}" name="emojitype" class="emoji">
                        <label for="1" class="emojibtn">
                           <img src='${dto.emojiinfo["1"]}' alt="이미지를 불러올 수 없습니다" style="width: 30px;">   
                        </label>
                        <span class="emoji-cnt">${dto.emojicount[0][1]}</span>
                        
                        <input type="radio" id="2" value="${dto.emojicount[1][0]}" name="emojitype" class="emoji">      
                        <label for="2" class="emojibtn">
                           <img src='${dto.emojiinfo["2"]}' alt="이미지를 불러올 수 없습니다" style="width: 30px;">
                        </label>
                        <span class="emoji-cnt">${dto.emojicount[1][1]}</span>
                     
                        <input type="radio" id="3" value="${dto.emojicount[2][0]}" name="emojitype" class="emoji">       
                        <label for="3" class="emojibtn">
                           <img src='${dto.emojiinfo["3"]}' alt="이미지를 불러올 수 없습니다" style="width: 30px;">   
                        </label>
                        <span class="emoji-cnt">${dto.emojicount[2][1]}</span>
               
                        <input type="radio" id="4"  value="${dto.emojicount[3][0]}" name="emojitype" class="emoji">      
                        <label for="4" class="emojibtn">
                           <img src='${dto.emojiinfo["4"]}' alt="이미지를 불러올 수 없습니다" style="width: 30px;">   
                        </label>
                        <span class="emoji-cnt">${dto.emojicount[3][1]}</span>
                        
                        <input type="radio" id="5"  value="${dto.emojicount[4][0]}" name="emojitype" class="emoji">      
                        <label for="5" class="emojibtn">
                           <img src='${dto.emojiinfo["5"]}' alt="이미지를 불러올 수 없습니다" style="width: 30px;">   
                        </label>
                        <span class="emoji-cnt">${dto.emojicount[4][1]}</span>
							</div>`;

                  detailsModalbodyEmoji.html(str);
               });
            }

            /* target의 gno / target의 imagepath 가져옴 / emoji 갯수 */
            $(".swiper-slide").click(function () {
               var targetGno = $(this).data("gno");
               var targetFile = $(this).data("file");
               $("#detailsModal").modal('show');
               showdetailsModal(targetGno, targetFile);
            });

            // 큐레이터 모달 제어
            /*[+
               var curatorUrl = [[@{/gallery/curator}]];
               var displayUrl = [[@{/display}]];
            +]*/

            var searchResult = $(".md-serach-result");
            var curatorBtn = $("#curatorBtn");
            var searchBtn = $("#md-search-btn");
            var searchForm = $("#modal-frm");
            var keyword = $("input[name=keyword]");

            searchBtn.on("click", function (e) {
               getSearchList();
            });

            keyword.on("keydown", function (e) {
               var keycode = e.keyCode;
               if (keycode == "13") {
                  e.preventDefault();
                  getSearchList();
               }
            });

            curatorBtn.on("click", function (e) {
               console.log("curator button clicked");
               e.preventDefault();
               getCuratorList(curatorUrl);
            });

            $(".left").on("click", function () {
               var url = $(".left").attr('data-left-url');
               if (url == '') {
                  return;
               }
               getCuratorList(url);
            });

            $(".right").on("click", function () {
               var url = $(".right").attr('data-right-url');
               if (url == '') {
                  return;
               }
               getCuratorList(url);
            });

            function getCuratorList(url) {
               $.get(url, function (result) {
                  var str = "";
                  $.each(result.dtoList, function (idx, dto) {
                     str += `<div class="search-result-Item item" data-search-file="${dto.imageURL}" data-search-gno="${dto.gno}">
                              <img  class="md-conteainer-img" src="${displayUrl}?fileName=${dto.imageURL}">                              
                              <br/>
                              <p>${dto.title}</p>
                           </div>`;
                  });
                  searchResult.html(str);

               }).done(function (response) {
                  if (response.page == 1) {
                     $(".left").attr('data-left-url', '');
                     $(".right").attr('data-right-url', curatorUrl + `?page=${response.page + 1}`);
                  } else if (response.page == response.end) {
                     $(".left").attr('data-left-url', curatorUrl + `?page=${response.page - 1}`);
                     $(".right").attr('data-right-url', '');
                  } else {
                     $(".left").attr('data-left-url', curatorUrl + `?page=${response.page - 1}`);
                     $(".right").attr('data-right-url', curatorUrl + `?page=${response.page + 1}`);
                  }
                  console.log(response);
                  console.log("get success curator");
               }).fail(function (response) {
                  console.log("get curator fial...");
                  console.log(response);
               });
            }

            function getSearchList() {

               // 유효성 검사
               var typeSelect = $("select[name=type]").val();
               var searchKeywordInput = $("#md-search-keyword").val();
               if (typeSelect == null) {
                  swal("검색조건을 설정해주세요");
                  return;
               } else if (searchKeywordInput == '') {
                  swal("검색어를 입력해주세요");
                  return;
               }

               $.ajax({
                  type: "GET",
                  url: curatorUrl,
                  data: searchForm.serialize(),
                  success: function (response) {

                     console.log("get curator saerch success");
                     console.log(response);

                     var str = "";

                     $(".left").attr('data-left-url', curatorUrl + `?page=${response.page - 1}`);
                     $(".right").attr('data-right-url', curatorUrl + `?page=${response.page + 1}`);

                     if (response.totalPage != 0) {
                        $.each(response.dtoList, function (idx, dto) {
                           str += `<div class="search-result-Item item" data-search-file="${dto.imageURL}" data-search-gno="${dto.gno}">
                                 <img class="md-conteainer-img" src="${displayUrl}?fileName=${dto.imageURL}">                              
                                    <br/>
                                    <p>${dto.title}</p>
                                 </div>`;
                        });
                        searchResult.html(str);
                     } else {
                        searchResult.html('<div> 검색 결과가 없습니다. </div>');
                     }

                     if (response.page == 1) {
                        $(".left").attr('data-left-url', '');
                        $(".right").attr('data-right-url', curatorUrl + `?page=${response.page + 1}`);
                     } else if (response.page == response.end) {
                        $(".left").attr('data-left-url', curatorUrl + `?page=${response.page - 1}`);
                        $(".right").attr('data-right-url', '');
                     } else {
                        $(".left").attr('data-left-url', curatorUrl + `?page=${response.page - 1}`);
                        $(".right").attr('data-right-url', curatorUrl + `?page=${response.page + 1}`);
                     }
                  },
                  error: function () {
                     alert('Error');
                  }
               });
            }

            function emojiBoxReload() {
               $("#myModal").modal("show");
            }

            //이모지 등록/수정/삭제
            $(document).on("click", ".emoji", function () {
               var testtype = $(this).val();
               var id = $(".inputId").val();
               var gno = $(".inputGno").val();
               var emojitype = $(".emoji:checked").val();
               var data = { id: id, gno: gno, emojitype: emojitype };
               $.ajax({
                  type: "POST",
                  url: emojiaddUrl + '/' + gno,
                  data: JSON.stringify(data),
                  contentType: "application/json",
                  dataType: "json",
                  success: function (response) {
                     console.log("update emoji success");
                     $(".emoji-cnt").eq(0).text(`${response[0][1]}`);
                     $(".emoji-cnt").eq(1).text(`${response[1][1]}`);
                     $(".emoji-cnt").eq(2).text(`${response[2][1]}`);
                     $(".emoji-cnt").eq(3).text(`${response[3][1]}`);
                     $(".emoji-cnt").eq(4).text(`${response[4][1]}`);
                  },
                  fail: function (response) {
                     console.log(response);
                  }, error: function (request, status, error) {
                     alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                  }
               });
            });

            // 모달 창 내 search result 클릭 시 이동 제어
            $(document).on("click", ".search-result-Item", function (e) {
               var targetGno = $(this).closest("div").data("searchGno");
               var targetFile = $(this).closest("div").data("searchFile");

               $("#curatorModal").modal("hide");
               $("#detailsModal").modal("show");

               showdetailsModal(targetGno, targetFile);
            });
         });
      </script>

      <!-- 큐레이터 모달창 -->
      <div class="modal fade bd-example-modal-xl" tabindex="-1" id="curatorModal">
         <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">규레이터</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <form class="serach-form-container" id="modal-frm" th:action="@{/gallery/curator}" method="get">

                     <select name="type">
                        <option value="t" disabled selected>검색조건</option>
                        <option value="t">작품명</option>
                        <option value="c">내용</option>
                        <option value="w">작가</option>
                     </select>
                     <input id="md-search-keyword" type="text" name="keyword" value="">
                     <input id="md-search-btn" type="button" value="검색">
                     <select name="sort">
                        <option value="d" disabled selected>정렬조건</option>
                        <option value="d">최신순</option>
                        <option value="a">과거순</option>
                     </select>
                  </form>
                  <br />
                  <div class="">
                     <div class="md-conteainer ">

                        <div class='md-btn-container'>
                           <div class='helper'></div>
                           <div class="md-item-btn left">
                              <span style="cursor: pointer;">
                                 <i class="fa-solid fa-angle-left"></i>
                              </span>
                           </div>
                        </div>

                        <div class="md-serach-result result-container"></div>

                        <div class='md-btn-container'>
                           <div class='helper'></div>
                           <div class="md-item-btn right">
                              <span style="cursor: pointer;"><i class="fa-solid fa-angle-right"></i></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Details 모달창 -->
      <div class="modal" tabindex="-1" id="detailsModal">
         <div class="container">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title">작품 상세페이지</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <div class="details-modal-body">
                     </div>
                     <div class="detail-modal-body2">
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </th:block>
</th:block>