<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Phoncnic</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/> -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link th:href="@{/css/styles.css}" rel="stylesheet"/> -->
        <!-- jQuery cdn -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>

</th:block>
</html>