phoncnic/src/main/resources/application.properties
phoncnic/src/main/resources/application.properties
phoncnic/src/main/resources/application.properties
phoncnic/src/main/resources/application.properties
phoncnic/src/main/resources/application.properties
phoncnic/src/main/resources/application.properties
phoncnic/src/main/resources/application.properties
