<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
    <th:block th:fragment="content">
        <h1>company info</h1>

        <div style="width: 100%; background-color: pink; border-radius: 30px 30px 30px 30px;">
            <img th:src="@{/team/gyeongmi.png}" alt="" width="250px" style="background-color: rgb(251, 251, 251); border-radius: 30px 30px 30px 30px;">
        </div>
        <div style="width: 100%; background-color: #DBE9B7; border-radius: 30px 30px 30px 30px;"> 
            <img th:src="@{/team/jiwon.png}" alt="" width="250px" style="background-color: rgb(251, 251, 251); border-radius: 30px 30px 30px 30px">
        </div>
        <div style="width: 100%; background-color: pink; border-radius: 30px 30px 30px 30px;">        
                <img th:src="@{/team/narong.png}" alt="" width="250px" style="background-color: rgb(251, 251, 251); border-radius: 30px 30px 30px 30px; ">
        </div>
        <div style="width: 100%; background-color: #DBE9B7; border-radius: 30px 30px 30px 30px;">        
            <img th:src="@{/team/minji.png}" alt="" width="250px" style="background-color: rgb(251, 251, 251); border-radius: 30px 30px 30px 30px;">
        </div>
       

    </th:block>
</th:block>