<html lang="ko" xmls:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
    <th:block th:fragment="content">
        <h1>mypage</h1>
        <form id="memberfrm" action="">
            <table border="1">
                <tr>
                    <th scope="col">아이디</th>
                    <th scope="col">비밀번호</th>
                    <th scope="col">닉네임</th>
                    <th scope="col">가입일</th>
                    <th scope="col">수정</th>
                    <th scope="col">탈퇴</th>

                </tr>
                <tr th:each="dto : ${memberDTO}">
                    <td><input type="text" th:value=${dto.id} name=id readonly></td>
                    <td><input type="text" th:value=${dto.password} name=password readonly></td>
                    <td><input type="text" th:value=${dto.nickname} name=nickname></td>
                    <td><input type="text" th:value=${dto.regdate} readonly></td>
                    <td><button id="memberModifyBtn" type="button">수정</button></td>
                    <td><button id="memberOutBtn" type="button">회원탈퇴</button></td>
                </tr>
            </table>
        </form>
        <form id="lookform" action="">
            <input type="hidden" name="id" th:value="${id}">
            <span th:each="hdto : ${looklist}">
                <input type="radio" name="hairname" id="${hdto.hairname}" th:value="${hdto.hairname}"><img
                    th:src="${hdto.hairpath}" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <br>
            <span th:each="cdto : ${looklist}">
                <input type="radio" name="clothesname" id="${cdto.clothesname}" th:value="${cdto.clothesname}"><img
                    th:src="${cdto.clothespath}" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <button id="lookModifyBtn" type="button" class="btn btn-primary">변경하기</button>
            <div>
                <div th:each="hdto : ${hairDTO}"><img class="look hairlook" th:src="${hdto.hairpath}" alt=""
                        id="checkedhair">
                    <input type="hidden" id="radiohair" th:value="${hdto.hairname}">
                </div><br>
                <div th:each="cdto : ${clothesDTO}"><img class="look clotheslook" th:src="${cdto.clothespath}" alt=""
                        id="checkedclothes">
                    <input type="hidden" id="radioclothes" th:value="${cdto.clothesname}">
                </div>
            </div>
        </form>

        <br>
        <table border="1">
            <tr>
                <th scope="col">팔로우한 artist</th>
            </tr>
            <tr th:each="adto : ${afollowDTO}">
                <td>
                    <input type="text" th:value="${adto}" readonly>
                    <button th:value="${memberDTO.id}" type="button" class="artistRemoveBtn">팔로우 취소</button>
                </td>
            </tr>
        </table>
        <table border="1">
            <tr>
                <th scope="col">팔로우한 dyning</th>
            </tr>
            <tr th:each="ddto : ${dfollowDTO}">
                <td><input type="text" name="name" th:value="${ddto}" readonly>
                    <button class="dyningRemoveBtn" th:value="${memberDTO.id}" type="button">팔로우취소</button>
                </td>
            </tr>
        </table>
        <br>
        <table border="1">
            <tr>
                <th scope="col">DNO</th>
                <th scope="col">이모지타입</th>
                <th scope="col">이모지path</th>
                <th scope="col">등록날짜</th>
                <th scope="col">삭제</th>
            </tr>
            <tr th:each="edto : ${emojiDTO}" th:if="${edto.dno}!=0">
                <td>[[${edto.dno}]]</td>
                <td>[[${edto.emojitype}]]</td>
                <td><img th:src="${edto.emojipath}" alt="" / width="30px"></td>
                <td>[[${edto.regdate}]]</td>
                <td><button class="emojiRemoveBtn" th:value="${edto.eno}" type="button">삭제</button></td>
            </tr>
        </table>
        <br>
        <table border="1">
            <tr>
                <th scope="col">GNO</th>
                <th scope="col">이모지타입</th>
                <th scope="col">이모지path</th>
                <th scope="col">등록날짜</th>
                <th scope="col">삭제</th>
            </tr>
            <tr th:each="edto : ${emojiDTO}" th:if="${edto.gno}!=0">
                <td>[[${edto.gno}]]</td>
                <td>[[${edto.emojitype}]]</td>
                <td><img th:src="${edto.emojipath}" alt="" width="30px"></td>
                <td>[[${edto.regdate}]]</td>
                <td><button class="emojiRemoveBtn" th:value="${edto.eno}" type="button">삭제</button></td>
            </tr>
        </table>
        <style>
            .look {
                display: inline-block;
                position: absolute;
                margin-left: 60%;
            }

            .hairlook {
                margin-bottom: -50px;
                z-index: 10;
            }

            .clotheslook {
                z-index: 1;
                margin-top: 15px;

            }
        </style>
        <script th:inline="javascript">

            var memberform = document.querySelector("#memberfrm");
            var lookform = document.querySelector("#lookform");
            var dyningfrm = document.querySelector("#dyningfrm");
            var memberModifyBtn = document.querySelector("#memberModifyBtn");
            var lookModifyBtn = document.querySelector("#lookModifyBtn");
            var artistRemoveBtn = document.querySelector("#artistRemoveBtn");
            var dyningRemoveBtn = document.querySelector("#dyningRemoveBtn");

            var radiohair = $("#radiohair").val();
            var radioclothes = $("#radioclothes").val();
            $('input:radio[name=hairname]:input[value=' + radiohair + ']').attr("checked", true);
            $('input:radio[name=clothesname]:input[value=' + radioclothes + ']').attr("checked", true);

            $("input[name=hairname]").on("change", function () {
                var checkedhair = $(this).next().attr('src');
                $("#checkedhair").attr("src", checkedhair);
            });
            $("input[name=clothesname]").on("change", function () {
                var checkedclothes = $(this).next().attr('src');
                $("#checkedclothes").attr("src", checkedclothes);
            });

            /*[+var urlmembermodify = [[@{/main/mypage/membermodify}]];+]*/
            /*[+var urllookmodify = [[@{/main/mypage/lookmodify}]];+]*/
            /*[+var urlartistremove = [[@{/main/mypage/artistremove}]];+]*/
            /*[+var urldyningremove = [[@{/main/mypage/dyningremove}]];+]*/
            /*[+var urlemojiremove = [[@{/main/mypage/emojiremove}]];+]*/
            /*[+var urlmemberout = [[@{/main/mypage/memberremove}]];+]*/

            document.querySelector("#memberModifyBtn").onclick = function () {

                if (!confirm("계정 정보를 수정하시겠습니까?")) {
                    return;
                } else {
                    memberform.setAttribute("action", urlmembermodify);
                    memberform.setAttribute("method", "post");
                    memberform.submit();
                    alert("수정되었습니다")
                }
            }
            document.querySelector("#lookModifyBtn").onclick = function () {

                if (!confirm("캐릭터의 옷을 변경하시겠습니까?")) {
                    return;
                } else {
                    lookform.setAttribute("action", urllookmodify);
                    lookform.setAttribute("method", "post");
                    lookform.submit();
                    alert("수정되었습니다")

                }
            }
            document.querySelector("#memberOutBtn").onclick = function () {

                if (!confirm("정말 탈퇴하시겠습니까?(이 동작은 되돌릴 수 없습니다)")) {
                    return;
                } else {
                    memberform.setAttribute("action", urlmemberout);
                    memberform.setAttribute("method", "post");
                    memberform.submit();
                    alert("다음에 또 만나요!")

                }
            }

            $("#hairchoice").on("change", function () {
                var selectedpath = $("#hairchoice option:selected").next().val();
                $("#selectedhair").val(selectedpath);

            });

            $(".artistRemoveBtn").click(function () {
                var id = $(this).val();
                var artistname = $(this).prev().val();

                var data = { id: id, artistname: artistname };

                console.log(data);

                $.ajax({
                    url: urlartistremove + "/" + id + "/" + artistname,
                    type: "DELETE",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (result) {
                        console.log("result: " + result);
                        self.location.reload();
                    }
                })
            });

            $(".dyningRemoveBtn").click(function () {
                var id = $(this).val();
                var dyningname = $(this).prev().val();

                var data = { id: id, dyningname: dyningname };

                console.log(data);

                $.ajax({
                    url: urldyningremove + "/" + id + "/" + dyningname,
                    type: "DELETE",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (result) {
                        console.log("result: " + result);
                        self.location.reload();
                    }
                })
            });

            $(".emojiRemoveBtn").click(function () {
                var eno = $(this).val();
                var data = { eno: eno };

                console.log(data);

                $.ajax({
                    url: urlemojiremove + "/" + eno,
                    type: "DELETE",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (result) {
                        console.log("result: " + result);
                        self.location.reload();
                    }
                })
            });

        </script>
    </th:block>
</th:block>