
<html lang="ko" xmls:th="http://www.thymeleaf.org">
    <h1>mypage</h1>
    
    
<table border="1">
    <tr>
        <th scope="col">아이디</th>
        <th scope="col">닉네임</th>
        <th scope="col">캐릭터 헤어</th>
        <th scope="col">캐릭터 img</th>
        <th scope="col">캐릭터 옷</th>
        <th scope="col">캐릭터 img</th>


    </tr>
    <tr th:each="dto : ${mypageDTO}">
        <td >[[${dto.id}]]</td>
        <td><input type="text" th:value=${dto.nickname} name=nickname></td>
        <td>[[${dto.hairname}]]</td>
        <td><img th:src="${dto.hairpath}" alt=""></td>
        <td>[[${dto.clothesname}]]</td>
        <td><img th:src="${dto.clothespath}" alt=""></td>
    </tr>
    <tr>
        <th scope="col">내 아이디</th>
        <th scope="col">팔로우한 가게</th>
        <th scope="col">팔로우한 작가</th>

    </tr>
    <tr th:each="fdto : ${followDTO}">
        <td >[[${fdto.followerid}]]</td>
        <td >[[${fdto.dyningname}]]</td>
        <td >[[${fdto.artistname}]]</td>
      
    </tr>
 
</table>

<ul>
    <li th:each="dto : ${mypageDTO}">
        [[${dto}]]
    </li>
</ul>
<ul >
    <li th:each="fdto : ${followDTO}">
        [[${fdto}]]
    </li>
</ul>
<ul >
    <li th:each="dto : ${emojiDTOList}">
        [[${dto}]]
    </li>
</ul>





    
</html>