<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
    <th:block th:fragment="content">
        <style>
            .roleSetInfo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            label:hover {
                cursor: pointer;
            }
            
            .btn-danger{
                background-color: tomato;
            }
            .btn-danger:not([disabled]):hover[class*='btn-danger']{
                background-color: red;
            }
        </style>
        <h1>관리자 페이지</h1>
        <table class="table">
            <tr>
                <th>관리자명</th>
                <th>유저검색</th>
                <th>검색기준</th>
                <th>정렬기준</th>
            </tr>
            <tr>
                <td> <b style="color:goldenrod">[[${userId}]]</b> </td>
                <form id="userSearchFrm" action="" method="">
                <td>
                    <input type="text" value="" name="keyword" placeholder="nugu@gmail.com">
                    <input type="button" value="검색" id="searchBtn">
                   
                </td>
                <td>
                    <select class="form-select" name="type">
                        <option value="i">아이디</option>
                        <option value="n">닉네임</option>
                    </select>
                </td>
                <td>
                    <select class="form-select" name="sort">
                        <option value="">아이디</option>
                        <option value="a">닉네임</option>
                        <option value="b">등록일</option>
                        <option value="c">수정일</option>
                    </select>
                </td>
                </form>
            </tr>
        </table>
        <div id="searchResult">
        </div>
        <div id="searchResultNav">
        </div>

        <script th:inline="javascript">
            $(function () {

                /*[+
                    var searchUrl = [[ @{/admin/search} ]]
                    var modifyUrl = [[ @{/admin/modify} ]]
                    var removeUrl = [[ @{/admin/remove} ]]
                +]*/

                var userSearchFrm = $("#userSearchFrm");
                var searchResult = $("#searchResult");
                var searchResultNav = $("#searchResultNav");
                var frm = $("#userSearchFrm");

                // 검색functtion
                var searchFunction = function (searchurlParam) {

                    var keyword = $("input[name=keyword]").val();
                    var type = $("select[name=type] option:selected ").val();
                    var sort = $("select[name=sort] option:selected ").val();
                    var data ={"keyword": keyword, "type": type, "sort": sort};
                    
                    if (keyword == "" || keyword == null) {
                        searchResult.text("검색어 입력하슈");
                        return true;
                    }
                    if (keyword == "777") {
                        searchResult.text("🎉이것이 권력의 맛이다🎉");
                        return true;
                    }

                    $.ajax({
                        type: "GET",
                        url: searchurlParam,
                        data: frm.serialize(),
                        contentType: "application/json",
                        success: function (response) {
                            var str = "";
                            var str2 = "";
                            searchResult.html(str);
                            if (response.dtoList.length == 0) {
                                str = `<div>검색결과를 찾을 수 없습니다.</div>`;
                                searchResult.html(str);
                                searchResultNav.html("");
                                return true;
                            }
                            $.each(response.dtoList, function (index, item) {
                                str = `<form action="" id="memberfrm${index}">
                                    <table class="table" border="1">
                                        <tr>
                                            <th scope="col">아이디</th>
                                            <th scope="col">닉네임</th>
                                            <th scope="col">신청</th>
                                            <th scope="col">권한</th>
                                            <th scope="col">가입일</th>
                                            <th scope="col">수정일</th>
                                            <th scope="col">수정</th>
                                            <th scope="col">출구</th>
                                        </tr>
                                        <tr>
                                            <input type="hidden" value="${item.id}" name="id" readonly/>
                                            <td class="search-result-td" > <span >${item.id}</sapn></td>
                                            <td class="search-result-td" ><input type="text" value="${item.nickname}" name="nickname"></td>
                                            <td class="search-result-td apply" data-apply-boolean="${item.afno}">${item.applicationtype}</td>
                                            <td class="search-result-td roleSetInfo" data-role-set="${item.roleSet[0]}">
                                                <label for="ADMIN${index}">ADMIN</label>&nbsp;
                                                <label for="USER${index}">USER</label>&nbsp;
                                                <label for="CEO${index}">CEO</label>&nbsp;
                                                <label for="ARTIST${index}">ARTIST</label>
                                            </td>
                                            <td class="search-result-td">${item.regdate}</td>
                                            <td class="search-result-td mod-date">${item.moddate}</td>
                                            <td><button class="memberModifyBtn" type="button">수정</button></td>
                                            <td><button class="memberRemoveBtn" type="button">👻</button></td>
                                        </tr>
                                    </table>
                                    <input type="hidden" class="modirole" name="roleSet" value="${item.roleSet[0]}" />
                                    <div class="raidoContainer" data-index="${index}" style="display:none">
                                        <input id="ADMIN${index}" type="radio" name="roleSet" value="ROLE_ADMIN">
                                        <input id="USER${index}" type="radio" name="roleSet" value="ROLE_USER">
                                        <input id="CEO${index}" type="radio" name="roleSet" value="ROLE_CEO">
                                        <input id="ARTIST${index}" type="radio" name="roleSet" value="ROLE_ARTIST">
                                    </div>
                                </form>`
                                searchResult.append(str);
                                if($(".apply").eq(index).html()=="true"){$(".apply").eq(index).html("CEO")}
                                else if ($(".apply").eq(index).html()=="false") {$(".apply").eq(index).html("ARTIST")}
                                if($(".apply").eq(index).data("applyBoolean")==0){$(".apply").eq(index).html("신청내역없음")}

                                var roleId = item.roleSet[0].toString().slice(5) + index;
                                $(`label[for=${roleId}]`).css("color", "tomato");
                                $(`#${roleId}`).attr("checked", true);
                                
                            });
                            str2 += `<ul class="pagination justify-content-center my">
                                <li class="page-item" data-is-prev="${response.prev}">
                                    <button data-page-href="${searchUrl}?page=${response.start-1}" class="page-link">◀</button>
                                </li>`;

                             $.each(response.pageList, function(index, page){
                                    str2 += `
                                    <li >
                                        <button data-page-href="${searchUrl}?page=${page}" class="page-link" >${page}</button>
                                    </li>`;
                            });

                                str2 += `<li class="page-item" data-is-next="${response.next}">
                                    <button data-page-href="${searchUrl}?page=${response.end+1}" class="page-link" >▶</button>
                                </li></ul>`;
                            
                                searchResultNav.html(str2);
                                
                                if(!$(".page-item").eq(0).data("isPrev")){
                                    $(".page-item").eq(0).css("display", "none");
                                }
                                
                                if(!$(".page-item").eq(1).data("isNext")) {
                                    $(".page-item").eq(1).css("display", "none");
                                }

                                console.log("get user info success");
                        },
                        fail(err) {
                            console.log(err);
                        }, error(request, status, error) {
                            console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        }
                    });
                }

                // 검색 페이징
                $(document).on("click",".page-link", function() {
                    searchFunction($(this).data("pageHref"));
                });

                // 선택시 색, 값 변경
                $(document).on("change", ".raidoContainer input", function () {
                    $(".roleSetInfo").eq($(this).parent().data("index")).children().css("color", "black");
                    $(`label[for=${$(this).attr("id")}]`).css("color", "tomato");
                    $(this).parent().siblings().eq(1).val($(this).val());
                });

                // 검색
                $("#searchBtn").on("click", function(){searchFunction(searchUrl)});
                $("input[name=keyword]").on("keydown", function (e) {
                    var keycode = e.keyCode;
                    if (keycode == "13") {
                        e.preventDefault();
                        searchFunction(searchUrl);
                    }
                });
                
                // 수정 function
                var modiAjax = function (data, userRole, index) {
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(data),
                        url: modifyUrl + "/" + userRole,
                        contentType: "application/json",
                        success: function (response) {
                            $(".mod-date").eq(index).css("color", "tomato");
                            swal("수정완", { button: false, timer: 1000 });
                            console.log("get modi post success....");
                        },
                        error(error ){
                            console.log(error.responseJSON);
                            console.log(error.responseMessage);
                        }
                    });
                }

                // 수정
                $(document).on("keydown", "input[name=nickname]", function (e) {
                    if (e.keyCode != "13") {
                        return;
                    }
                    e.preventDefault();
                    var index = $(this).parents("form").index();
                    var id = $(this).parent().siblings("input[name=id]").val();
                    var nickname = $(this).val();
                    var userRole = [$(".modirole").eq(index).val()];
                    var data = { "id": id, "nickname": nickname };
                    swal({text:"수정하시겠습니까?", buttons:{button:{text:"네", value:true}, cancel:"아니오"},dangerMode:true}).then((check)=>{
                        if(check){
                            modiAjax(data, userRole, index);
                        } else {
                            return;
                        }
                    });
                });
                
                $(document).on("click", ".memberModifyBtn", function (e) {
                    var index = $(this).parents("form").index();
                    var id = $(this).parent().siblings("input[name=id]").val();
                    var nickname = $(this).parent().siblings().eq(2).children("input").val();
                    var userRole = [$(".modirole").eq(index).val()];
                    var data = { "id": id, "nickname": nickname };
                    modiAjax(data, userRole, index);
                });

                var removeAjax = function (removeId) {
                    $.ajax({
                        type: "POST",
                        url: removeUrl + "/" + removeId,
                        contentType: "application/json",
                        success: function () {
                            swal("삭제완", { button: false, timer: 1000 });
                            console.log("get remove post success....");
                        }, error: function (reponse, error) {
                            console.log(response.responseText.trace);
                        }
                    });
                }
                
                // 퇴출
                $(document).on("click", ".memberRemoveBtn", function(e){
                    var index = $(this).parents("form").index();
                    var removeId = $(this).parent().siblings("input[name=id]").val();
                    swal({text:removeId+"님을 삭제하시겠습니까?", icon:"warning", buttons:{button:{text:"네",className:"btn-danger", value:"true"},cancel:"아니오"},dangerMode:true}).then((check)=>{
                        if(check){
                            removeAjax(removeId);
                            $(this).parents("form").css("display", "none");
                        } else {return;}
                    });
                });  

            });

        </script>
    </th:block>
</th:block>