<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인덱스여라</title>
</head>
<body>
    <fieldset>
        <legend>
            인덱스여라
        </legend>
        <a th:href="@{/}">/index</a> <br>
    </fieldset>

    <fieldset>
        <legend>
            테스트여라
        </legend>
        <a th:href="@{/test}">/test</a><br>
    </fieldset>
    <fieldset>
        <legend>
            갈림길이여라
        </legend>

        <a th:href="@{/crossroad}">/crossroad</a><br>
        <a th:href="@{/crossroad/gallery}">/crossroad/gallery</a> <br>
        <a th:href="@{/gallery/crossgallery/photo}">/gallery/crossgallery/photo</a><br>   
        <a th:href="@{/gallery/crossgallery/painting}">/gallery/crossgallery/painting</a><br>
        <a th:href="@{/crossroad/dyning/cafe}">/crossroad/dyning/cafe</a> <br>
        <a th:href="@{/crossroad/dyning/restaurant}">/crossroad/dyning/restaurant</a> <br>
    </fieldset>

    <fieldset>
        <legend>메인이여라</legend>
        <a th:href="@{/main/companyinfo}">/main/companyinfo</a><br>
        <a th:href="@{/main/galleryregister}">/main/galleryregister</a><br>
        <a th:href="@{/help/list}">/help/list</a><br>
        <a th:href="@{/main/mypage(id='user1@icloud.com')}">
            <button>user1@icloud.com님의 마이페이지로 이동</button>
        </a>
       
    </fieldset>

    <fieldset>
        <legend>다이닝이여라</legend>
        <a th:href="@{/dyning/restaurant/list}">/dyning/restaurant/list</a> <br>
        <a th:href="@{/dyning/cafe/list}">/dyning/cafe/list</a> <br>
    </fieldset>
    <fieldset>
        <legend>갤러리여라</legend>
        <a th:href="@{/gallery/photo}">/gallery/photo</a> <br>
        <a th:href="@{/gallery/painting}">/gallery/painting</a> <br>
    </fieldset>
</body>
</html>
