<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
    <th:block th:fragment="content">
        <table  class="table" >
            <tr>
                <th>ALL</th>
                <th>ALL</th>
                <th>USER</th>
                <th>USER</th>
                <th>ALL</th>
                <th>USER</th>
                <th>ALL</th>
                <th>ALL</th>
                <th>ADMIN</th>
            </tr>
            <tr>
                <th>인덱스</th>
                <th>메인</th>
                <th>루-크:모달</th>
                <th>등록 갈림길(MANGE)</th>
                <th>갈림길</th>
                <th>메인</th>
                <th>다이닝</th>
                <th>갤러리</th>
                <th>관리자</th>
            </tr>
            <tr>
                <td rowspan="6"><a th:href="@{/index}">/index</a></td>
                <td rowspan="6"><a th:href="@{/}">main.html</a></td>
                <td rowspan="5"><a th:href="@{/lookmodal}">/lookmodal</a></td>
                <td ><a th:href="@{/manage/rolechoice}">등록갈림길</a></td>
                <td ><a th:href="@{/crossroad}">/crossroad</a></td>
                <td ><a th:href="@{/main/companyinfo}">/main/companyinfo</a></td>
                <td ><a th:href="@{/dyning/restaurant/list}">/dyning/restaurant/list</a></td>
                <td ><a th:href="@{/gallery/photo}">/gallery/photo</a></td>
                <td rowspan="6"><a th:href="@{/admin}">/admin</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/manage/gallery/list}">galleryList</a></td>
                <td><a th:href="@{/crossroad/gallery}">/crossroad/gallery</a></td>
                <td><a th:href="@{/help/list}">/help/list</a></td>
                <td><a th:href="@{/dyning/cafe/list}">/dyning/cafe/list</a></td>
                <td rowspan="3"><a th:href="@{/gallery/painting}">/gallery/painting</a></td>
            </tr>
            <tr>
                <td rowspan="2"><a th:href="@{/manage/gallery/register}">galleryRegister</a></td>
                <td><a th:href="@{/crossroad/dyning/cafe}">/crossroad/dyning/cafe</a></td>
                <td rowspan="2"><a th:href="@{/main/mypage}"><button>마이페이지로 이동</button></a></td>
                <td rowspan="2"><a th:href="@{/dyning/details(dno=1)}">/dyning/restaurant/details(dno=1)</a></td>
            </tr>
            <tr>
                <td ><a th:href="@{/crossroad/dyning/restaurant}">/crossroad/dyning/restaurant</a></td>
            </tr>
        </table>
 
    </th:block>
</th:block>