<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
    <th:block th:fragment="content">
        <input type="text" name="loginUserId" th:value="${loginuserId}" hidden>
        
        <a th:href="@{/index}">인덱스(임시)</a>
        <a th:href="@{/crossroad}">피크닉갈림길</a>
        <a th:href="@{/manage/rolechoice}">등록갈림길</a>

        <button type="button" class="btn " id="btncharacterlook" data-bs-toggle="modal" data-bs-target="#modalcharacterlook">
            <img id="userAvatar" th:src="${avatar?.setpath}" alt="🙄" width="100px">
        </button>
        </button>
        
        
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script th:inline="javascript">
        
            $(function (e) {
        
                /*[+
                    var lookModalUrl =  [[@{/character/lookmodal}]];
                    var lookModifyUrl = [[@{/character/lookmodify}]];
                +]*/

                var modalBody = $(".character-modal-body");
                var showLookModal = function (e) {
                    var str ='';
                    $.get(lookModalUrl, function(result){
                        console.log(result);
                        $.each(result[0], function(index, item){
                            str +=  `<span>
                                        <input id="${index}${item.setname}" name="chalookInfo" type="radio" value="${item.setname}" hidden>
                                        <label for="${index}${item.setname}">
                                            <img src="${item.setpath}" id="setimg" alt="">
                                        <lable>
                                    </span>`
                        });
                                    
                        str += `<form id="lookfrm" action="">
                            <input type="hidden" name="id" value="${result[1]}">
                            <input type="hidden" name="setname" value="${result[2].setname}">
                            <input type="hidden" name="setpath" value="${result[2].setpath}">
                            <div class="look">
                                    <div>
                                        <img class="setlook newsetlook" src="${result[2].setpath}" alt="" id="checkedset">
                                    </div>
                                </div>
                            </form>`;
                        modalBody.html(str);
                        $('input:radio[name=setname]:input[value=' + result[2].setname + ']').attr("checked", true);
                    });
                    console.log("get look modal success...");
                }

                var modifyLook = function(){
                    var setname = $("input[name=setname]").val();
                    var setpath = $("input[name=setpath]").val();
                    var data = {setname : setname, setpath: setpath};
                    // console.log(data);
                    $.ajax({
                        type: "post",
                        url: lookModifyUrl,
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function (response) {                    
                            swal('success', "변경완료");
                            $("img #userAvatar").val(setpath);
                            console.log("update characterlook success");
                        },
                        fail: function (response) {
                            console.log(response);
                        }, error: function (request, status, error) {
                            console.log(request);
                        }
                    });
                }


                // 모달제어
                if($("input[name=loginUserId]").val() != "") {
                    
                    modalBody.html("잠시 기다려주세요 ... ");

                    $("#btncharacterlook").on("click", showLookModal);

                    $(document).on("change", "input[name=chalookInfo]", function () {
                        var checkRaido = $(this).val();
                        var checkedset = $(this).next().children("img").attr("src");
                        $("#checkedset").attr("src", checkedset);
                        $("input[name=setname]").val(checkRaido);
                        $("input[name=setpath]").val(checkedset);
                    });
            
                    $(document).on("click", "#lookModifyBtn", function () {
                        if (!confirm("캐릭터의 옷을 변경하시겠습니까?")) {
                            return;
                        } else {
                            modifyLook();
                        }
                    });
                }
            });
        </script>
        <style>
            .newsetlook {
                position: relative;
                width: 100px;
                height: 140px;
            }
        
            #setimg {
                width: 100px;
                height: 140px;
            }
        </style>
        <!-- 모달창 -->
        <div class="character modal" tabindex="-1" id="modalcharacterlook">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">캐릭터 룩</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            name="btn-close"></button>
                    </div>
                    <div class="modal-body character-modal-body">
                        <div>로그인 후 이용해주세요 </div>
                    </div>
                    <div class="modal-footer">
                        <button th:if="${loginuserId}" id="lookModifyBtn" type="button" class="btn btn-primary">변경하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="btn-close">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>