<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST PAGE</title>
</head>
<body>
    <h1>TEST PAGE</h1>

    <ul>
        <li th:each="emoji : ${emojiDTOList}">
            [[${emoji}]]
        </li>
    </ul>

    <form th:action="@{/test}" method="post">
        <input type="text" value="" name="id" placeholder="유저명입력 : user10@icloud.com">
        <input type="button" value="전송" submit>
    </form>

</body>
</html>