<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Bootstrap Modal with tabs</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/css/result-light.css">

  <style id="compiled-css" type="text/css">
    /* EOS */
  </style>
  <script id="insert"></script>
  <script src="/js/stringify.js?02bd3e89435f4bd709d01d7fd9090c84851878c1" charset="utf-8"></script>

</head>

  <body>
<div class="popover popover-tour tour-algorithm-lesson tour-algorithm-lesson-0 fade bs-popover-right show"
  role="tooltip" id="step-0" x-placement="right"
  style="position: absolute; transform: translate3d(800px, 633px, 0px); top: 0px; left: 0px; will-change: transform;">
  <div class="arrow" style="top: 63px;"></div>
  <div class="popover-line"></div>
  <div class="d-flex justify-content-between">
    <div class="popover-header popover-title">문제 설명</div> <svg class="ic-24 ic-blue-grey-200" data-role="end">
      <use xlink:href="/assets/svg-defs-7199df7f884f2adccf7c487886cc61d2bce1809d359f41dcd1c9ad4d7a84166f.svg#ic-close">
      </use>
    </svg>
  </div>
  <div class="popover-body popover-content">구현해야 하는 내용에 대한 설명입니다. 잘 읽고 설명에 따라 코드를 작성하세요.</div>
  <div class="popover-navigation d-flex justify-content-between">
    <div class="popover-page d-flex justify-content-center">1 / 7</div>
    <div class="btn-group"> <button class="btn btn-sm btn-primary disabled" data-role="prev">〈 이전</button> <button
        class="btn btn-sm btn-primary" data-role="next">다음 〉</button> </div>
  </div>
</div>
  
  </body>


</html>