<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST PAGE</title>
</head>
<body>
    <h1>TEST PAGE</h1>

    <ul>
        <li th:each="emoji : ${emojiDTOList}">
            [[${emoji}]]
        </li>
    </ul>

    <form th:action="@{/test}" method="post">
        <input type="text" value="" name="id" placeholder="유저명입력 : user10@icloud.com">
        <input type="button" value="전송" submit>
    </form>
    <br>
    <hr>
    <h1>QNA PAGING TEST</h1>
    <ul>
        <li th:each="page : ${result}">
            [[${page.dtoList}]]
        </li>
    </ul>

    <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">답변</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">NickName</th>
            <th scope="col">Regdate</th>
            <th scope="col">CURRENT : 현재 객체 정보</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dto, state : ${result.dtoList}" th:if="${state.even} or ${dto.answerstatus}">
                <th>[[${ num }]]</th>
            
            <th scope="row" th:switch="${dto.answerstatus}">
                <b th:case="true">
                    <b th:if="${ state.odd } ">NEW</b>
                    <b th:if="${ state.even }">답변완</b>
                </b>
                <b th:case="false">준비중</b>
            </th>
            <td>[[${ dto.title }]]</td>
            <td><b th:text="${dto.content}"></b></td>
            <td><b th:text="${dto.writer}"></b></td>
            <td>[[${#temporals.format(dto.regdate,'yyyy/MM/dd')}]]</td>
            <td>[[${state.current}]]</td>
        </tr>
        </tbody>
    </table>
    <th:block th:each="num : ${#numbers.sequence(1, result.end*result.size)}">
        <b scope="row">[[${ num }]]</b>
    </th:block>
    <ul>
    <li th:if="${result.prev}">
        <a th:href="@{/test( page=${result.start-1} )}" tabindex="-1">Previous</a>
    </li>
    <li th:each="page : ${result.pageList}">
        <a class="page-link" th:href="@{/test( page=${page} )}">[[${page}]]</a>
    </li>
    <li  th:if="${result.next}">
        <a th:href="@{/test( page=${result.end+1} )}">Next</a>
    </li>
    </ul>
</body>
</html>