<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFE LIST</title>
    <style>
        #dyningname {
            cursor: pointer;
        }

        #roofdesign {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>cafe</h1>
    <table border="1" >
        <tr >
            <th scope="col">dyningname</th>
            <th scope="col">Roof Path</th>
        </tr>
        <tr  th:each="dto : ${result}"
        th:onclick="'location.href=
        \''+ @{/dyning/details(dno=${dto.dno})}
             + '\''"
              th:if="${dto.foodtype}==1">
            <!-- <td >[[${dto.dno}]]</td> -->
            <td >[[${dto.dyningname}]]</td>
            <!-- <td>[[${dto.foodtype}]]</td> -->
            <td>[[${dto.roofpath}]]</td>
        </tr>
    </table>
</body>

</html>
