<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/dyninglist :: setContent(~{::content}, ~{::search})}">

    <!-- search toggle -->
    <th:block th:fragment="search">
        <div th:each="hdto : ${hairDTO}"><img id="radiohair" class="look hairlook" th:src="${hdto.hairpath}" alt="">
            <input  type="hidden" id="radiohair" th:value="${hdto.hairname}"></div>
    
        <body onload="loaded()" onkeydown="keydown()" onkeyup="keyup()">
            <canvas width="400" height="500" style="border: 2px solid black;" id="c1"></canvas>

        <style>
            .search-result-Item {
                cursor: pointer;
            }
        </style>
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">
                <form class="d-flex search-form" th:action="@{/restaurant/toggle}" method="get">
                    <select class="form-select-sm" name="type">
                        <option value="n">가게명</option>
                        <option value="h">해쉬태그</option>
                    </select>
                    <input class="form-control me-2" name="keyword" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success" id="btnsearch" type="button">Search</button>
                </form>
            </div>
            <div class="list-group list-group-flush">
                <ul class="md-serach-result"></ul>
            </div>
            <div>
                <button id="addBtn">더보기</button>
            </div>
        </div>
       
    </body>

    <script>
 
        var canvas; //도화지 객체
        var context; //화가 객체
 
        // 플레이어 이동 방향과 속도
        var dx=0;
        var dy=0;
 
        // 키 이벤트로 인해 인식된 keycode변수
        var keycode;
        var headimg = document.getElementById("radiohair").getAttribute("src");
        // 전역변수로서 이미지 객체 생성
        var imgChar= new Image();
        imgChar.src = headimg;
        var imgBg= new Image();
        imgBg.src=headimg;
 
        // 플레이어 캐릭터의 중심좌표
        var x=200, y=250; //정 가운데로 위치
        var w=40, h=40; //플레이어 이미지의 절반 사이즈
 
        function loaded(){
            canvas= document.getElementById('c1');
            context= canvas.getContext('2d');
 
            runGame(); //게임을 진행하는 함수
            //10ms 마다 runGame()를 다시 호출
            setInterval(runGame,10); //1초에 100번 호출
        }
 
        function runGame(){
            moveAll(); //캐릭터 움직이기
            drawAll(); // 이미지들 그리기
        }
 
        function moveAll(){
            //플레이어의 좌표 변경
            x+=dx;
            y+=dy;
 
        }
        function drawAll(){
            //배경 그리기
            context.drawImage(imgBg,0,0,400,500);
            //플레이어 그리기
            context.drawImage(imgChar,x-w,y-h,w*2,h*2);
 
            // 키 코드값 글씨 그리기
            context.fillStyle="white";
            context.font="30px sans-serif";
            context.fillText(keycode, 10, 40);
        }
 
        function keydown(){
            //눌러진 key의 코드값
            keycode=event.keyCode;
            switch(keycode){
                case 37: dx=-1; break; //left
                case 38: dy=-1; break; //up
                case 39: dx=1; break; //right
                case 40: dy=1; break; //down
            }
        }
        function keyup(){
            //떨어진 key의 코드값
            keycode=event.keyCode;
            switch(keycode){
                case 37: 
                case 39: dx=0; break;
                case 38:
                case 40: dy=0; break;
            }
        }
 
        // 사운드 작업 : 크롬은 자동 재생을 막은 듯 함. Edge는 될 것임
        // var sd= new Audio('./dragon_flight.mp3');
        // sd.volume= 1.0; //0.0 ~ 1.0
        // sd.loof= true; //반복재생여부
        // sd.play();
 
    </script>
        <script th:inline="javascript">
            $(document).ready(function () {
                /*[+
                    var searchUrl = [[@{/dyning/restaurant/toggle}]];
                +]*/

                var btnsearch = $('#btnsearch');
                var searchForm = $('.search-form');
                var searchResult = $(".md-serach-result");
                var keyword = $("input[name=keyword]");

                // 검색버튼 클릭시 search
                btnsearch.on("click", function (e) {
                    console.log(searchForm.serialize());
                    getSearchList();
                })

                // 엔터 입력시 search
                keyword.on("keydown", function (e) {
                    var keycode = e.keyCode;
                    if (keycode == "13") {
                        e.preventDefault();
                        getSearchList();
                    }
                });

                function getSearchList() {
                    $.ajax({
                        type: "GET",
                        url: searchUrl,
                        data: searchForm.serialize(),
                        success: function (response) {
                            console.log("get search success");
                            var str = "";

                            if (response.totalPage != 0) {
                                $.each(response.dtoList, function (idx, dto) {
                                    str += `<li class="search-result-Item " data-search-dno="${dto.dno}" value="${dto.dno}">
                                    <input class="input" type="hidden" value="${dto.dno}">
                                    <div id="search-result-div">
                                         <p>${dto.dyningname}</p>
                                         ${dto.hashtag}
                                    </div>
                                    </li>`;
                                });
                                searchResult.html(str);
                            } else {
                                searchResult.html('<div> 검색 결과가 없습니다. </div>');
                            }
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                }

                // 토글 창 내 search result 클릭 시 이동 제어
                $(document).on("click", ".search-result-Item", function (e) {
                    console.log("click");
                    var val = $(this).attr("value");
                    location.href = "/phoncnic/dyning/details?dno=" + val;
                });

            });
        </script>
    </th:block>

    <!-- 내용부분(restaurant 거리) -->
    <th:block th:fragment="content">
        <style>
            .dyning-list-ul {
                max-width: 10000px;
            }

            .dyning-list-ul li {
                margin: 20px;
                width: 100px;
                height: 100px;
                display: inline-block;
            }
        </style>

        <script th:inline="javascript">
            $(document).ready(function () {
                var numitems = $(".dyning-list-ul li").length;

                console.log("numitems: " + numitems);

                $(".dyning-list-ul").css("column-count", Math.round(numitems / 2));
            });
        </script>

        <h1>restaurant</h1>
        <ul class="dyning-list-ul">
            <li th:each="dto : ${result}" th:if="${dto.foodtype}!=1">
                <a th:href="@{/dyning/details(dno=${dto.dno},id=${id}) }">
                    <img th:src="${dto.roofthumbnail}">
                </a>
                [[${dto.dyningname}]]
            </li>
        </ul>

    </th:block>
</th:block>
