<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/test :: setContent(~{::content}, ~{::search})}">

    <th:block th:fragment="content">
        <style>
            #dyningname{cursor: pointer;}
            #roofpath{cursor: pointer;}
            #roofdesign{cursor: pointer;}
        </style>
        <h1>restaurant</h1>
        <table border="1">
            <tr>
                <th scope="col">dyningname</th>
                <th scope="col">Roof Path</th>
            </tr>
            <tr th:each="dto : ${result}" th:onclick="'location.href=
                \''+ @{/dyning/details(dno=${dto.dno})}
                + '\''" th:if="${dto.foodtype}!=1">
                <td id="dyningname">[[${dto.dyningname}]]</td>
                <td id="roofpath">[[${dto.roofpath}]]</td>
            </tr>
        </table>
    </th:block>

    <!-- search toggle -->
    <th:block th:fragment="search">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">
                <form class="d-flex search-form" th:action="@{/restaurant/toggle}" method="get">
                    <select class="form-select-sm" name="type">
                        <option value="n" >가게명</option>
                        <option value="h" >해쉬태그</option>
                    </select>
                    <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" id="btnsearch" type="button">Search</button>
                </form>
            </div>
            <div class="list-group list-group-flush">
                <ul class="md-serach-result">
                    <li> test 중입니다 </li>
                </ul>
            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">검색</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                /*[+
                    var searchUrl = [[@{/dyning/restaurant/toggle}]];
                +]*/
        
                var btnsearch = $('#btnsearch');
                var searchForm = $('.search-form');
                var searchResult = $(".md-serach-result");
        
                btnsearch.on("click", function(e) {
                    console.log(searchForm.serialize());
                    getSearchList();
                })
        
                function getSearchList() {
                    $.ajax({
                        type: "GET",
                        url: searchUrl,
                        data: searchForm.serialize(),
                        success: function (response) {
                            console.log("get search success");
                            var str = "";
                            $.each(response.dtoList, function (idx, dto) {
                                str += `<li class="search-result-Item " data-search-dno="${dto.dno}">
                                            <div>
                                                <p>
                                                    ${dto.dyningname}
                                                </p>												
                                                ${dto.hashtag}
                                            </div>
                                        </li>`;
                            })
                            searchResult.html(str);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                }
            })
        </script>
    </th:block>
</th:block>
